<link rel="stylesheet" href="/css/user_profile.css">
<h1 >
    Codeial / Profile Page

</h1>
<% if(locals.user){%>
<p><%= user.name %></p>
<p><%= user.email %></p>
<% }%>









<!-- <html>      
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
       
        <%- include('_header');%>
        <h1>Codeial / Profile Page</h1>

        <%- include('_footer');%>
    </body>
</html> -->